<div class="jumbotron">
	<h2><%= @project.title	%></h2>
</div>

<form action="/<%= @project.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <p>Are you sure you want to delete this project?</p>
 <button type="submit" class="btn btn-danger">Delete project</button>
</form>

<form action="/<%= @project.id %>/edit" method="post">
	<p>Update name of project</p>
    <input type="hidden" name="_method" value="patch">
    <input type="text" name="title">
 <button type="submit" class="btn btn-success">Update project</button>
</form>

<h1>Volunteers:</h1>
<% if @list.any? %>
<p>List of volunteers:</p>

<ul>
  <% @list.each do |item| %>
  <li><%=item.name %></li>
  <% end %>
</ul>
<% else %>
<p>There are no volunteers yet!</p>
<% end %>

<h1>Add a new volunteer</h1>

<form action="/add_volunteer" method="post">
  <div class="form-group">
  	<input type="hidden" value="<%= @project.id %>" name = "project_id"class="form-control">
    <label for="name">Name:</label>
    <input type="text" name="name" class="form-control">
  </div>
 <button type="submit" class="btn">Add</button>
</form>
<br><br>

<a href="/"><button type="button" class="btn btn-info">Home</button></a>
